.app-set-result {
  display: inline-block;
}

.app-set-result:not(:first-child) {
  margin-left: 30px;
}

@media screen and (max-width: 667px) {
  .app-set-result:not(:first-child) {
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .app-set-result:not(:first-child) {
    margin-left: 10px;
  }
}
