<div class="container-fluid tpt-page-content">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="changePassword()" novalidate>
      <div class="card">
        <div class="card-header font-weight-bold">
          Change your password
        </div>
        <div class="card-body">
          <!-- this hidden input is added to help password managers recognize the correct user
          (see https://www.chromium.org/developers/design-documents/create-amazing-password-forms) -->
          <input type="text"
                 autocomplete="username"
                 [value]="currentUserName"
                 hidden>
          <div class="form-group required row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
              <label for="oldPassword" class="col-form-label">
                Old password
              </label>
              <input type="password"
                     class="form-control"
                     formControlName="oldPassword"
                     id="oldPassword"
                     autocomplete="current-password"
                     autofocus
                     tabindex="1"
                     [ngClass]="{'is-invalid': form.controls['oldPassword'].touched && form.controls['oldPassword'].invalid}">
            </div>
          </div>
          <fieldset formGroupName="newPasswords">
            <div class="form-group required row">
              <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <label for="newPassword" class="col-form-label">
                  New password
                </label>
                <input type="password"
                       class="form-control"
                       formControlName="password"
                       id="newPassword"
                       autocomplete="new-password"
                       tabindex="2"
                       [ngClass]="{'is-invalid': newPasswordsForm.controls['password'].touched && newPasswordsForm.controls['password'].invalid}">
              </div>
            </div>
            <div class="form-group required row">
              <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <label for="confirmNewPassword" class="col-form-label">
                  Confirm new password
                </label>
                <input type="password"
                       class="form-control"
                       formControlName="confirmPassword"
                       id="confirmNewPassword"
                       autocomplete="new-password"
                       tabindex="3"
                       [ngClass]="{'is-invalid': (newPasswordsForm.controls['confirmPassword'].touched && newPasswordsForm.controls['confirmPassword'].invalid) || (newPasswordsForm.touched && newPasswordsForm.invalid)}">
              </div>
            </div>
          </fieldset>
          <div>
            <ngb-alert *ngIf="changePasswordErrorMessage" type="danger" (close)="changePasswordErrorMessage = null">
              {{changePasswordErrorMessage}}
            </ngb-alert>
          </div>
        </div>
        <div class="card-footer">
          <div class="pull-left">
            <button type="button" class="btn btn-info" (click)="goToHome($event)" tabindex="5">
              <i class="fa fa-home" aria-hidden="true"></i>
              Back to homepage
            </button>
          </div>
          <div class="pull-right">
            <button type="submit" class="btn btn-success" [disabled]="form.invalid" tabindex="4">
              <i class="fa fa-key" aria-hidden="true"></i>
              Change
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
