<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.martinodutto.tpt.database.mappers.PlayersMapper">
    <resultMap id="PlayersRM" type="cloud.martinodutto.tpt.database.entities.Player">
        <id column="PLAYER_ID" javaType="int" jdbcType="NUMERIC" property="playerId"/>
        <result column="USER_ID" javaType="int" jdbcType="NUMERIC" property="userId"/>
        <result column="NAME" javaType="java.lang.String" jdbcType="VARCHAR" property="name"/>
        <result column="SURNAME" javaType="java.lang.String" jdbcType="VARCHAR" property="surname"/>
        <result column="GENDER" javaType="java.lang.String" jdbcType="VARCHAR" property="gender"/>
        <result column="GUEST" javaType="java.lang.String" jdbcType="VARCHAR" property="guest"/>
        <result column="CREATION_TIMESTAMP" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
                property="creationTimestamp"/>
    </resultMap>

    <sql id="selectAllSql">
        SELECT
            PLAYER_ID,
            USER_ID,
            NAME,
            SURNAME,
            GENDER,
            GUEST,
            CREATION_TIMESTAMP
        FROM PLAYERS
    </sql>

    <select id="selectAll" resultMap="PlayersRM">
        <include refid="selectAllSql"/>
    </select>

    <select id="selectByPk" resultMap="PlayersRM">
        <include refid="selectAllSql"/>
        WHERE PLAYER_ID = #{playerId, jdbcType=NUMERIC}
    </select>

    <select id="selectUserPlayer" resultMap="PlayersRM">
        <include refid="selectAllSql"/>
        WHERE USER_ID = #{userId, jdbcType=NUMERIC}
        AND GUEST = 'N'
    </select>

    <select id="selectUserKnownPlayers" resultMap="PlayersRM">
        <include refid="selectAllSql"/>
        WHERE USER_ID = #{userId, jdbcType=NUMERIC}
        AND GUEST = 'Y'
        ORDER BY NAME ASC, SURNAME ASC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="playerId">
        INSERT INTO PLAYERS (
        USER_ID,
        NAME,
        SURNAME,
        GENDER,
        GUEST,
        CREATION_TIMESTAMP)
        VALUES (
        #{player.userId, jdbcType=NUMERIC},
        #{player.name, jdbcType=VARCHAR},
        #{player.surname, jdbcType=VARCHAR},
        #{player.gender, jdbcType=VARCHAR},
        #{player.guest, jdbcType=VARCHAR},
        #{player.creationTimestamp, jdbcType=TIMESTAMP})
        <selectKey keyProperty="player.playerId" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <update id="update">
        UPDATE PLAYERS
        SET
            USER_ID = #{player.userId, jdbcType=NUMERIC},
            NAME    = #{player.name, jdbcType=VARCHAR},
            SURNAME = #{player.surname, jdbcType=VARCHAR},
            GENDER  = #{player.gender, jdbcType=VARCHAR},
            GUEST   = #{player.guest, jdbcType=VARCHAR}
        WHERE PLAYER_ID = #{player.playerId, jdbcType=NUMERIC}
    </update>

    <delete id="delete">
        DELETE FROM PLAYERS
        WHERE PLAYER_ID = #{player.playerId, jdbcType=NUMERIC}
    </delete>
</mapper>
