/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

html, body {
  height: 100%;
  margin: 0;
}

.tpt-page-content {
  margin: 20px 0 20px 0;
}

.tpt-user-message-page > div {
  text-align: center;
}

.tpt-user-message-page > div > i {
  font-size: 300px;
}

.tpt-user-message-page > div > p.main-message {
  font-size: 36px;
}

/* removes the up/down arrows on WebKit-based browsers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* by applying a "required" class to a form-group, we automatically get a red asterisk following the "col-form-label"
label underneath. Example use:

 <div class="form-group required row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    <label for="name" class="col-form-label">
      Name
    </label>
    <input class="form-control" formControlName="name" id="name"
          [ngClass]="{'is-invalid': form.controls['name'].touched && form.controls['name'].invalid}">
    </div>
 </div>

*/
.form-group.required .col-form-label:after {
  content: "*";
  color: red;
}

button:not([disabled]) {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}
