/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

html, body {
  height: 100%;
  margin: 0;
}

.tpt-page-content {
  margin: 20px 0 20px 0;
}

/* removes the up/down arrows on WebKit-based browsers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
