<div class="container-fluid tpt-page-content">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="register()" novalidate>
      <div class="card register mx-auto">
        <div class="card-header font-weight-bold">
          Register a new user
        </div>
        <div class="card-body">
          <div class="form-group required row">
            <div class="col-sm-10 offset-sm-1">
              <label for="username" class="col-form-label">
                Choose a username
              </label>
              <input type="text" class="form-control" formControlName="username" id="username" autocomplete="username"
                     autofocus tabindex="1"
                     [ngClass]="{'is-invalid': form.controls['username'].touched && form.controls['username'].invalid}">
            </div>
          </div>
          <fieldset formGroupName="passwords">
            <div class="form-group required row">
              <div class="col-sm-10 offset-sm-1">
                <label for="password" class="col-form-label">
                  Choose a password
                </label>
                <input type="password" class="form-control" formControlName="password" id="password"
                       autocomplete="new-password"
                       placeholder="Must be at least 8 characters long"
                       tabindex="2"
                       [ngClass]="{'is-invalid': passwordsForm.controls['password'].touched && passwordsForm.controls['password'].invalid}">
              </div>
            </div>
            <div class="form-group required row">
              <div class="col-sm-10 offset-sm-1">
                <label for="confirmPassword" class="col-form-label">
                  Confirm password
                </label>
                <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword"
                       autocomplete="new-password"
                       placeholder="Confirm password"
                       tabindex="3"
                       [ngClass]="{'is-invalid': (passwordsForm.controls['confirmPassword'].touched && passwordsForm.controls['confirmPassword'].invalid) || (passwordsForm.touched && passwordsForm.invalid)}">
              </div>
            </div>
          </fieldset>
          <div>
            <ngb-alert *ngIf="signUpErrorMessage" type="danger" (close)="signUpErrorMessage = null">
              {{signUpErrorMessage}}
            </ngb-alert>
          </div>
        </div>
        <div class="card-footer">
          <div class="pull-left">
            <button type="button" class="btn btn-info" (click)="goToLogin()" tabindex="5">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              Back to login
            </button>
          </div>
          <div class="pull-right">
            <button type="submit" class="btn btn-success" [disabled]="form.invalid" tabindex="4">
              <i class="fa fa-key" aria-hidden="true"></i>
              Register me!
            </button>
          </div>
        </div>
      </div>
    </form>

    <ng-template #successModalContent let-c="close">
      <div class="modal-header">
        <h4 class="modal-title">Success</h4>
      </div>
      <div class="modal-body">
        <p>
          Congratulations {{form.value.username}}, you successfully signed-up to Tennis Personal Tracker!
        </p>
        <p>
          Please click the button to login with your new credentials.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="c('Success')">Go to login</button>
      </div>
    </ng-template>
  </div>
</div>
