<header>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="/tennis-personal-tracker/static/assets/img/tennis-ball.svg" width="25" height="25"
           class="d-inline-block align-top" alt="">
      Tennis Personal Tracker
    </a>
    <!-- this button is shown when the screen gets too small and the links must be stacked and hidden in a separate menu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="" class="nav-link" (click)="goToHome($event)">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
