<div class="container-fluid tpt-page-content">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="save()" novalidate>

      <div class="card">
        <div class="card-header">
          Required fields
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="activityDateInput" class="col-md-3 col-lg-2 col-form-label">
              Activity date
            </label>
            <div class="input-group col-md-6 col-lg-3">
              <input class="form-control" formControlName="activityDate" placeholder="yyyy-mm-dd" name="dp"
                     ngbDatepicker
                     #d="ngbDatepicker" id="activityDateInput">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <div class="form-group row">
            <label for="firstPlayerNameInput" class="col-md-3 col-lg-2 col-form-label">
              First player
            </label>
            <div class="col-md-6 col-lg-3">
              <input class="form-control" formControlName="firstPlayerName" id="firstPlayerNameInput">
            </div>
          </div>

          <div class="form-group row">
            <label for="secondPlayerNameInput" class="col-md-3 col-lg-2 col-form-label">
              Second player
            </label>
            <div class="col-md-6 col-lg-3">
              <input class="form-control" formControlName="secondPlayerName" id="secondPlayerNameInput">
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Match result{{form.value.firstPlayerName || form.value.secondPlayerName ? ' &mdash; ' : ''}}<b>{{form.value.firstPlayerName}}</b>{{form.value.firstPlayerName
          || form.value.secondPlayerName ? ' vs ' : ''}}<b>{{form.value.secondPlayerName}}</b>
        </div>
        <div class="card-body">
          <!-- this component contains the result of the tennis match -->
          <app-match-result [group]="form.controls['match']"></app-match-result>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Optional fields
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-3">
              <label for="activityType" class="col-form-label">
                Activity type
              </label>
              <select class="form-control" formControlName="activityType" id="activityType" (ngModelChange)="onActivityTypeChange($event)">
                <option *ngFor="let choice of optionsActivityType">{{choice}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="bestOf" class="col-form-label">
                3-or-5 setter
              </label>
              <select class="form-control" formControlName="bestOf" id="bestOf" (ngModelChange)="onBestOfChange($event)">
                <option *ngFor="let choice of optionsBestOf">{{choice}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="lastSetTiebreak" class="col-form-label">
                Last set tiebreak
              </label>
              <select class="form-control" formControlName="lastSetTiebreak" id="lastSetTiebreak">
                <option *ngFor="let choice of optionsLastSetTiebreak">{{choice}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="club" class="col-form-label">
                Club
              </label>
              <input class="form-control" formControlName="club" id="club">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <label for="tournament" class="col-form-label">
                Tournament
              </label>
              <input class="form-control" formControlName="tournament" id="tournament">
            </div>
            <div class="col-md-3">
              <label for="activityTime" class="col-form-label">
                Activity time
              </label>
              <div id="activityTime">
                <ngb-timepicker [spinners]="false" formControlName="activityTime"></ngb-timepicker>
              </div>
            </div>
            <div class="col-md-3">
              <label for="duration" class="col-form-label">
                Duration
              </label>
              <div id="duration">
                <ngb-timepicker [spinners]="false" formControlName="duration"></ngb-timepicker>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Save</button>
        <button type="button" class="btn btn-danger" (click)="open(content)">Discard</button>
      </div>
    </form>

    <!-- template for the discard confirmation modal -->
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Discarding activity</h4>
        <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="d('Cross click')">
          <i class="fa fa-close" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to discard the activity? All your changes will be lost.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="c('Discarded')">Confirm</button>
      </div>
    </ng-template>
  </div>
</div>
