.set-result {
  margin-left: 10px;
}

input {
  display: block;
  height: 100px;
  width: 66px;
  font-size: 80px;
  text-align: center;
  border-radius: 10px;
  border-width: 1px;
}

input[name="first"] {
  margin-bottom: 5px;
}
