<div class="container-fluid tpt-page-content">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="login()" novalidate>
      <div class="card login mx-auto">
        <div class="card-header font-weight-bold">
          <i class="fa fa-user" aria-hidden="true"></i>
          Login
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-sm-10 offset-sm-1">
              <input type="text" class="form-control" formControlName="username" id="username" placeholder="Username"
                     autocomplete="username" autofocus tabindex="1"
                     [ngClass]="{'is-invalid': form.controls['username'].touched && form.controls['username'].invalid}">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10 offset-sm-1">
              <input type="password" class="form-control" formControlName="password" id="password"
                     autocomplete="current-password" tabindex="2"
                     placeholder="Password"
                     [ngClass]="{'is-invalid': form.controls['password'].touched && form.controls['password'].invalid}">
            </div>
          </div>

          <div class="login-buttons">
            <div class="row">
              <div class="col-sm-10 offset-sm-1">
                <button type="submit" class="btn btn-success btn-block" [disabled]="form.invalid" tabindex="3">
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                  Sign-in
                </button>
              </div>
            </div>

            <div class="error-message">
              <ngb-alert *ngIf="loginErrorMessage" type="danger" (close)="loginErrorMessage = null">
                {{loginErrorMessage}}
              </ngb-alert>
            </div>

            <hr class="hr-text" data-content="New on TPT? Register"/>
            <div class="row">
              <div class="col-sm-10 offset-sm-1">
                <button type="button" class="btn btn-info btn-block" (click)="signUp()" tabindex="4">
                  Sign-up
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
