<div class="container-fluid tpt-page-content">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="login()" novalidate>
      <div class="card login mx-auto">
        <div class="card-header font-weight-bold">
          <i class="fa fa-user" aria-hidden="true"></i>
          Login
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-sm-10 offset-sm-1">
              <input type="text" class="form-control" formControlName="username" id="username" placeholder="Username"
                     autocomplete="username"
                     [ngClass]="{'is-invalid': form.controls['username'].touched && form.controls['username'].invalid}">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10 offset-sm-1">
              <input type="password" class="form-control" formControlName="password" id="password"
                     autocomplete="current-password"
                     placeholder="Password"
                     [ngClass]="{'is-invalid': form.controls['password'].touched && form.controls['password'].invalid}">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="pull-left">
            <button type="button" class="btn btn-info" (click)="register()">Sign-up</button>
          </div>
          <div class="pull-right">
            <button type="submit" class="btn btn-success" [disabled]="form.invalid">Sign-in</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
