<div class="container-fluid tpt-page-content">
  <div class="container">
    <h1>Credits</h1>
    <p>I would like to thank each of these sources:</p>
    <ul>
      <li><a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> for some icons with license <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
        target="_blank">CC 3.0 BY</a></li>
    </ul>
  </div>
</div>
